<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Lucid</title>


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--	<link rel="stylesheet" href="style.css">-->
	<link rel="stylesheet" href="./vendors/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
<!-- content goes here -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <!-- for the sidebar -->
        </div>

        <!-- for any other part of the page -->
        <div class="col-12 col-sm-9 two">
            <div class="row">
                <div class="col-12 pb-4 pt-4">
                    <h6>PORTFOLIO</h6>
                    <h3>HNG Folio</h3>
                </div>
                <div class="col-12">
                    <img src="" alt="HNG Folio picture">
                </div>
                <div class="col-8">
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquam excepturi sapiente voluptatum itaque, corrupti dolorem laudantium iure velit voluptates odit quae omnis libero et, veritatis laborum, maxime natus adipisci fugit pariatur! Nulla modi omnis assumenda, laudantium magni veritatis dicta sunt incidunt praesentium earum iste amet nostrum ipsum harum nesciunt quis. Voluptate ut fugiat accusamus architecto eveniet reiciendis non quaerat cupiditate placeat totam dolores quidem ratione in molestiae voluptas sed eos, repellendus iure adipisci voluptatum? Ex temporibus ipsam mollitia incidunt dolorem deserunt atque sapiente totam. Aliquid illo eaque delectus cum reiciendis mollitia doloribus veniam sunt nesciunt, accusantium ducimus nihil facilis?</p>
                    </div>
                </div>
                
                <div class="col-12">
                        <div class="row">
                            <div class="col-5 pb-4 pt-4">
                                <img src="../assets/img/portfolio-photo1.png" class="float-left pr-4 pb-4" alt="...">
                                <h5>Google X</h5>
                            </div>
                            
                            <div class="col-5 pb-4 pt-4">
                                <img src="../assets/img/portfolio-photo2.png" class="float-left pb-4" alt="...">
                                <h5>Lucid</h5>
                            </div>
                        </div>
                    </div>
                    
                
            </div>

        
        </div>
    </div>
</div>

<script src="vendors/jquery.min.js"></script>
<script src="vendors/bootstrap-4.0.0-beta.3-dist/js/bootstrap.min.js"></script>
</body>

</html>

